.list-color, .title{
    margin: 50px;
}
.color-option{
    margin-bottom: 10px;
}
.circle{
    height: 50px;
    width: 50px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
}