body {
    background-color: #f0f2f5;
    font-family: sans-serif;
}


.todo{
    margin-bottom: 15px;
}
.title {
    padding: 30px;
}

.todo-list {
    list-style: none;
    margin-top: 50px;
    padding-left: 0;
}

.checked-flag {
    position: absolute;
    right: 10px;
    height: 25px;
    width: 25px;
}

.todo-item {
    position: relative;
    border: 1px solid #d9d9d9;
    border-radius: 5px;
    padding: 10px 50px 10px 15px;
    width: 80%;
    margin: 20px auto;
}

.checked-flag {
    top: 50%;
    transform: translateY(-50%);
}

.delete-btn {
    position: absolute;
    right: -10px;
    top: -10px;
    border-radius: 50%;
    border: 1px solid #000;
    cursor: pointer;
    background-color: #fff;
    width: 10px;
    height: 10px;
}

@media screen and (min-width: 992px) {
    .container-md{
        max-width: 700px;
    }
}